{% load static %}
<script src="{%static 'home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{%static 'home/js/slick.js' %}"></script>
<script src="{%static 'home/js/tippy-popper.min.js' %}"></script>
<script src="{%static 'home/js/tippy-bundle.iife.min.js' %}"></script>
<script src="{%static 'home/js/popper.min.js' %}" ></script>
<script src="{%static 'home/js/typeahead.bundle.min.js' %}"></script>
<script src="{%static 'home/js/typeahead.jquery.min.js' %}"></script>
<script src="{%static 'home/js/ajax-custom.js' %}"></script>
<script src="{%static 'home/js/menu.js' %}"></script>
<script src="{%static 'home/js/bootstrap.js' %}"></script>
<script src="{%static 'home/js/feather.min.js' %}"></script>
<script src="{%static 'home/js/feather-icon.js' %}"></script>
<script src="{%static 'home/js/bootstrap-notify.min.js' %}"></script>
<script src="{%static 'home/js/script.js' %}"></script>
{% comment %} <script src="{%static 'home/js/timer1.js' %}"></script>
<script src="{%static 'home/js/timer2.js' %}"></script> {% endcomment %}
<script src="{%static 'home/js/modal.js' %}"></script>