{% load static %}

<div class="modal fade bd-example-modal-lg blackfriday-modal theme-modal "
     id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content ">
         <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="rainbow">
               <span></span>
               <span></span>
            </div>
            <div class="offer-content ">
               <img src="/static/home/images/theme-modal/black-friday.jpg" class="img-fluid bg-img" alt="">
               <div>
                  <div>
                     <h2><span>up to </span>80%</h2>
                     <div class="lable">get  30% off + free shipping</div>
                     <h3>black friday</h3>
                     <div class="timer">
                        <p id="demo4"><span>126<span class="timer-cal">Days</span></span><span>6<span class="timer-cal">Hrs</span></span><span>22<span class="timer-cal">Min</span></span><span>53<span class="timer-cal">Sec</span></span> </p>
                     </div>
                     <h4>Friday, 26 November 2021</h4>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>